services:
  java:
    build: .  # 构建当前目录下的Dockerfile
    image: gogoshine/java:latest
    ports:
      - "8080:8080"  # Java应用常用端口8080
    volumes:
      - ./workspace:/root/workspace
      - ~/.m2:/root/.m2  # 挂载Maven本地仓库
    mem_limit: 1G     # 内存限制
    memswap_limit: 1G # 总内存（物理内存 + Swap）限制
    cpus: '1.0'       # CPU使用率限制
    oom_score_adj: -500  # 调整 OOM 杀手优先级
    restart: unless-stopped  # 除非手动停止，否则总是重启容器
    container_name: java # 容器名称
    # 可选：启动时运行Java应用
    # command: ["/bin/sh", "-c", "sleep 10000"]